
.heading
{
  font-size: 40px;
  width: 100%;
  margin: 0px;
  font-family: 'Yuji Hentaigana Akari', cursive;
}

#status,#number_of_objects
{
font-size: 18px;
font-family: 'Yuji Hentaigana Akari', cursive;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    border: 3px solid red;
    box-shadow: 10px 10px 18px black;
}
.note{
  font-family: 'Yuji Hentaigana Akari', cursive;
}